.messenger-main {
  display: grid;
  grid-template-rows: 1fr 40px;
}

.messenger-messages {
  border: 1px solid #ddd;
}

.messenger-input-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px;
}

.messenger-input {
  border: 1px solid #ddd;
  border-top: 0px;
  border-bottom: 0px;
}
