.client-card-main {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0.3em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-card-main:hover {
  background-color: #eee;
}

.avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 1em;
  /* position: relative; */
  /* top: -75px; */
}
